
<div class="section" id="index-banner">
	<div class="container">
		<h3 class="header center">Edit Branch</h3>

	</div>
</div>
<div class="section">
	<div class="container">

		<%= render('layouts/flash') %>    

		<%= form_for :restaurant, url: restaurant_owners_restaurant_path, :method => :PUT do |f| %>

		<%= render('form', f: f )%>

		<% end %>

	</div>
</div>