<div class="section" id="index-banner">
  <div class="container">
    <h3 class="header center">Create Branch</h3>
    
  </div>
</div>
<div class="section">
  <div class="container">

    <%= render('layouts/flash') %>    

    <%= render('form')%>

  </div>
</div>