<div class="parallax-container">
	<div class="parallax">
		<!-- <img src="images/parallax1.jpg"> -->
		<%= image_tag(asset_path('main.png')) %>
	</div>

	<div class="section row">
		<div class="container">
			<div class="col s12 l4 m6 parallax-text">
				<div class="caption center-align">
					<h2 class="white-text text-uppercase animated wow fadeInLeft">Order Like a Lord</h2>
					<p class="blue-grey-text text-lighten-5 text-lowercase  animated wow fadeInLeft">
						PLACE orders through Lord Waiter at your favorite restaurants and make yourself a LORD!
					</p>

        <!-- <div class="row">
          <a class="col s12 l6 m5 app-btns animated wow fadeInLeft red waves-effect waves-light btn">
            <i class="fa fa-apple left" aria-hidden="true"></i> Iphone App</a>
        </div> -->

          <!-- <div class="row">
          <a class="col s12 l6 m5 app-btns animated wow fadeInLeft btn waves-effect waves-light red"><i class="material-icons left">android</i>Android App</a>
      </div> -->


      <div class="row">
      <a class="col s12 animated wow fadeInLeft" href='https://play.google.com/store/apps/details?id=com.taharushain.lordwaiter&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' class= "responsive-img"/></a>
      </div>

  </div>      
</div>
</div>
</div>

</div>


<div class="container" id="features">
	<div class="section">
		<h3 class="center-align">Features</h3>
		<div class="divider"></div>

		<div class="row">

			<div class="col m6">
				<div class="iphone center-align">
					<%= image_tag(asset_path('about.png'), class: "animated wow fadeInLeft responsive-img", width: "650px") %>
				</div>
			</div>

			<div class="col m6 animated wow fadeInRight">
				<div>
					<h3>Take command of restaurant experience.</h3>

					<div class="section">
						<ul class="collection z-depth-2">
							<li class="collection-item">Increase customer retention</li>
							<li class="collection-item">Provide an interactive experience to customers</li>
							<li class="collection-item">Run targeted campaigns</li>
							<li class="collection-item">Keep your restaurant customers loyal</li>
							<li class="collection-item">Improve waiter and restaurant ordering process</li>
						</ul>
					</div>

				</div>          
			</div>

		</div>

	</div>
</div>

<div class="section blue-grey darken-4">

	<div class="container">

		<div class="row animated wow fadeInRight">

			<div class="col l4 m12 s12 center-align">
				<i class="large material-icons blue-grey-text text-lighten-5">show_chart</i>
				<h4 class="blue-grey-text text-lighten-5">Increase Sales</h4>
				<p class="blue-grey-text text-lighten-5">Keep your restaurant in the innovative chain and increase your sales by having an edge over your competition</p>
			</div>
			<div class="col l4 m12 s12 center-align">
				<i class="large material-icons blue-grey-text text-lighten-5">attach_money</i>
				<h4 class="blue-grey-text text-lighten-5">Save Resources</h4>
				<p class="blue-grey-text text-lighten-5">Remove the need for extra staff by automating the restaurant's lifecycle and giving customers the power to order.</p>
			</div>
			<div class="col l4 m12 s12 center-align">
				<i class="large material-icons blue-grey-text text-lighten-5">people</i>
				<h4 class="blue-grey-text text-lighten-5">Targeted Marketing</h4>
				<p class="blue-grey-text text-lighten-4">Send targeted advertisements to your restaurant's valued customers about your campaigns and promotions.</p>
			</div>

		</div>

	</div>
</div>

<div class="section" id="pricing">
	<div class="container">
		<h3 class="center-align">Pricing</h3>
		<div class="divider"></div>

		<div class="row">
			<div class="col s12 m6 animated wow fadeInLeft">
				<h4 class="center-align">One package for all our Lords!</h4>
				<div class="card blue-grey darken-4">
					<div class="card-content white-text">
						<span class="card-title">Pro Package</span>
						<p>We have one package for all sorts of restaurants, we don't discriminate based on your size!</p>
					</div>

					<%= link_to(("" + content_tag(:i, "arrow_forward", :class => "material-icons")).html_safe,
						new_email_message_path,
						:class => "btn-floating halfway-fab waves-effect waves-light red") %> 

						<div class="card-action">
							<ul class="white-text">
								<li>Unlimited Tables</li>
								<li>Unlimited Menu Items</li>
								<li>Unlimited Customer</li>
								<li>$ 10 per Month</li>
								<li>$ 0.1 per Order placed through Lord Waiter</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col s12 m6 animated wow fadeInRight">
					<div class="iphone center-align">
						<%= image_tag(asset_path('order.png'), class: "responsive-img", width: "650px") %>
					</div>
				</div>

			</div>
		</div>
	</div>