
<div class="section" id="index-banner">
	<div class="container">
		<h1 class="header center">Products</h1>
		<div class="row center">
			<a href="<%= new_restaurant_owners_food_item_path %>" class="btn-large waves-effect waves-light">Create new Product</a>
		</div>
	</div>
</div>

		<%= render('layouts/flash') %>    



<% if @food_items.any? %>
<section class="section">
	<div class="container">
		<div class="collection z-depth-3">
			<% @food_items.each do |food_item| %>
			<%= link_to "#{food_item.title}", restaurant_owners_food_item_path(food_item), :class => "collection-item waves-effect waves-light waves-red" %>
			<% end %>
		</div>
	</div>
</section>
<% else %>

<section class="section valign-wrapper no-content-created">
	<div class="container">
		<h5 class="center-align">
			Looks like you havn't created a Product, create one by clicking the above button.
		</h5>
	</div>
</section>
<% end %>	