<div class="section parallax-container valign-wrapper" id="index-banner">
	<div class="container">
		<h1 class="header center">Comming Soon</h1>
		<div class="row center">
			<h4 class="header col s12 light center">This feature is currently under development.</h4>
		</div>
	</div>
</div>