<h1>Thank you, for contacting us</h1>

<p>
  "We have received your following message and you will hear from us soon."
</p>

<p>
	<%= @body %>
</p>

<h3>We will get back to you soon.</h3>

<p>Best Regards,</p>
<p>Support Team.</p>
<p><b>Lord Waiter</b></p>