<h1>We have received the following message from:</h1>

<p><b>Email: </b> <%= @email %></p>
<p><b>Name: </b> <%= @name %></p>
<p><b>Message: </b> <%= @body %></p>

<h3>Kindly look into this as soon as possible.</h3>

<p>Best Regards,</p>
<p>Support Team.</p>
<p><b>Lord Waiter</b></p>
