@import 'materialize';
@import "materialize/extras/nouislider";
@import "material_icons";
@import "animate";
@import "font-awesome";
@import "chatrooms";
@import "messages";
@import "users";
@import "materialize/components/color";
$primary-color: color("blue-grey", "darken-4") !default;
$secondary-color: color("blue-grey", "darken-2") !default;
$accent-color: #000000 !default;




@import url('https://fonts.googleapis.com/css?family=Lato:300');

html{
	font-family: Lato;
}

body, html {
	height: 100%;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}


.app-btns{

	width: 100%;

}

.parallax-container {
	height: 100%;
}

.snackbar.error {
	background-color: red;
}
.snackbar.alert {
	background-color: yellow;
	color: black;
}
.snackbar.notice {
	background-color: green;
}