<div class="section" id="index-banner">
	<div class="container">
		<h3 class="header center"><%= @restaurant_manager.name %></h3>
		<div class="row center">
			<%= link_to ("" + content_tag(:i, "edit", :class => "material-icons left")).html_safe, edit_restaurant_owners_restaurant_manager_path(@restaurant_manager), :class => "btn-floating btn-large waves-effect waves-light" %>
		</div>
	</div>
</div>


<section class="section">
	<div class="container">
		<div class="row">
			
			<div class="col s12 m6 l6">
				

				<h5 class="my-pink-text">Email:</h5>
				<p><%= @restaurant_manager.email %></p>

				<h5 class="my-pink-text">Restaurant:</h5>
				<p><%= @restaurant_manager.restaurant.name %></p>
				
				
			</div>

		</div>
	</div>		
</div>
</section>