<nav>
	<div class="nav-wrapper">
		<div class="container">
			<a href='<%= root_path %>' class="brand-logo"><%= t('app_name')%></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<!-- <li class="active"><a href="collapsible.html">Contact</a></li> -->
				<% if restaurant_manager_signed_in? %>
				<li>
					<%= link_to('Logout', destroy_restaurant_manager_session_path, method: :delete) %>        
				</li>
				<% else %>
				<li>
					<%= link_to('Login', new_restaurant_manager_session_path)  %>  
				</li>
				<% end %>
			</ul>  
		</div>
	</div>
</nav>