<div class="fixed-announcement">
  <div class="announcement">
    <div class="container center-align">Your restaurant is not available to public, <a href="#"> Subscribe</a> and take your business to the next level!</div>
  </div>
</div>

<div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="material-icons">menu</i></a></div>


<ul id="nav-mobile" class="side-nav fixed"    style="transform: translateX(0%);">
  <li><div class="user-view  custom-dark-color center-align">
    <a href=""><img class="dashboard-logo" src="<%= asset_path('dashboard_logo.png') %>"></a>
  </div></li>
  <li class="bold"><a href="#" class="waves-effect waves-red ">About</a></li>
  <li class="bold"><a href="#" class="waves-effect waves-red " >Getting Started</a></li>
  <li class="bold"><a href="#" class="waves-effect waves-red  ">Mobile</a></li>
  <li class="bold"><a href="#" class="waves-effect waves-red ">Showcase</a></li>
</ul>